/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background-image: url('./imgs/bg.svg');
	min-height: 100vh;
	font-family: 'Overpass', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #333;
}
.main-container {
	height: 90vh;
	width: 95vw;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(245, 245, 255));
	box-shadow: 3px 5px 23px rgba(0, 0, 0, 0.1);
	border-radius: 35px;
	backdrop-filter: 17px;
	border: 5px solid #fff;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	margin: 0 3rem;
}
.navigation .nav-items {
	display: flex;
	list-style: none;
	align-items: flex-end;
}
.nav-items li {
	margin: 0 2rem;
}
.nav-items a {
	font-weight: 500;
	font-family: inherit;
	color: inherit;
}
